:root {
  --color-back: #f2f4f6;
  --color-1: #1ee3cf;
  --color-2: #6b48ff;
  --color-3: #161d6f;
  --color-4: #0a0e3f;
}
@font-face {
  font-family: Noor;
  src: url(ASSETS/font/ArbFONTS-AGCRegular.ttf);
}
* {
  font-family: Noor;
}
.blue-color {
  color: var(--color-3);
  transition: all 0.7s;
}
.light-blue-color {
  color: var(--color-1);
}
.overlay {
  background: linear-gradient(
    45deg,
    rgba(10, 14, 63, 0.5) 0%,
    rgba(107, 72, 255, 0.5013655120251226) 100%
  );
  height: 100%;
}
body {
  overflow-x: hidden;
}
@media (max-width: 475px) {
  .hero {
    width: 100%;
    height: 700px;
  }
  .navbar-collapse .regesters {
    margin: 0 !important;
  }
}
