:root {
  --color-back: #f2f4f6;
  --color-1: #1ee3cf;
  --color-2: #6b48ff;
  --color-3: #161d6f;
  --color-4: #0a0e3f;
}
@font-face {
  font-family: Noor;
  src: url(ASSETS/font/ArbFONTS-AGCRegular.ttf);
}
* {
  font-family: Noor;
}

.blue-color {
  color: var(--color-3);
  transition: all 0.7s;
}

.light-blue-color {
  color: var(--color-1);
}
.overlay {
  background: linear-gradient(
    45deg,
    rgba(10, 14, 63, 0.5) 0%,
    rgba(107, 72, 255, 0.5013655120251226) 100%
  );
  height: 100%;
}

/* --------------------nav bar---------------------------- */
.signup-nav-btn {
  background-color: var(--color-3);
  color: var(--color-1);
  width: 70px;
  font-size: 16px;
  font-weight: bold;
}
.signup-nav-btn:hover {
  background-color: var(--color-4);
  color: var(--color-1);
}
.login-nav-btn {
  background-color: transparent;
  border: 1px solid var(--color-3);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.6s;
  height: 40px;
  width: 150px;
}
.login-nav-btn a {
  text-decoration: none;
  color: var(--color-3);
}
.login-nav-btn a:hover {
  color: var(--color-1);
}
.login-nav-btn:hover {
  background-color: var(--color-4);
}
.hero {
  background-image: url("ASSETS/imgs/hero.png");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.about {
  background: var(--color-4);
}

/* -------------signup----------------- */
.signup {
  position: relative;
  width: 100%;
  background-color: #acacac;
  min-height: 80vh;
  padding: 0 !important;
}
.signup .background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  min-height: 100%;
  background-image: url("ASSETS/imgs/amazing-aerial-shot-singapore-cityscape-with-lots-skyscrapers.png"); /* ضع رابط الصورة هنا */
  background-size: cover;
  background-position: center;
}
.signup-box {
  width: 90%;
  background-color: #0a0e3f;
  min-height: 100vh;
  z-index: 3;
  margin-left: 300px;
}
.signup .line {
  width: 300px;
  background-color: white;
}
.signup-inputs .form-control {
  width: 520px;
  border-radius: 20px;
  font-size: 26px;
  height: 50px;
  margin-top: 2px;
}
.signup-inputs .signup-label {
  position: relative;
  top: 22px;
  left: 385px;
  width: fit-content;
}
.signup-inputs .signup-label label {
  padding: 0 8px;
}
.signup-btn {
  border-radius: 20px !important;
  background-color: var(--color-1) !important;
  height: 50px;
  font-weight: 700 !important;
  font-size: 24px;
  color: var(--color-4) !important;
}

.signup-media-titel {
  position: relative;
  top: -30px;
}
.signup-media-box {
  border: 2px dashed var(--color-3);
  border-radius: 20px;
  background-color: #6b48ff33;
  padding: 0 10px !important;
}
.signup-media-box p {
  margin-bottom: 12px;
}

/* -------------------------------login-------------------------- */
.log-in {
  position: relative;
  width: 85%;
  margin-left: 220px;
}
.log-in .background-image {
  height: 605px;
  top: 10px;
  left: 100px;
  position: absolute;
  width: 400px;
  border-radius: 8px;
  background-image: url("ASSETS/imgs/analog-landscape-city-with-buildings.jpg"); /* ضع رابط الصورة هنا */
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 90%;
}
.login-box {
  width: 575px;
  box-shadow: 0 2px 8px #f2f4f6;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.login-box .line {
  width: 230px;
}

.form-elements .login-label {
  position: relative;
  top: 24px;
  padding: 0px 22px;
  margin-top: 10px;
}
.login-label .form-label {
  padding: 0 8px;
}
.login-box .form-control {
  border-radius: 18px !important;
}
.form-control:focus {
  box-shadow: none;
}

.login-btn {
  border-radius: 20px !important;
  background-color: var(--color-1) !important;
  height: 50px;
  font-weight: bold !important;
  margin-top: 30px;
  color: var(--color-4);
}
.login-btn a,
.recend-code-btn a {
  text-decoration: none;
}
.login-helper a {
  color: var(--color-2);
}

/* ----------------------------verify email-------------------- */
.verify-email {
  position: relative;
  width: 100%;
  min-height: 80vh;
}
.verify-email .background-image {
  height: 558px;
  top: 45px;
  left: 330px;
  position: absolute;
  width: 400px;
  border-radius: 8px;
  background-image: url("ASSETS/imgs/analog-landscape-city-with-buildings.jpg"); /* ضع رابط الصورة هنا */
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 90%;
}
.verify-box {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2;
  width: 550px;
  box-shadow: 0 2px 8px #f2f4f6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
}
.verify-input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 34px;
  padding: 8px;
  border: 1px solid #acacac;
}
.verify-input:focus {
  border: 1px solid #acacac;
  /* border: none; */
}

.recend-code-btn {
  border-radius: 20px !important;
  background-color: transparent;
  height: 50px;
  font-weight: bold !important;
  border: 1px solid var(--color-4) !important;
  margin: 30px 45px;
}
.recend-code-btn a {
  color: var(--color-4);
}
/* --------------------------logout------------------------- */
.logout-container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px #f2f4f6;
}

.logout-container .background-image {
  position: absolute;
  top: 127px;
  left: 400px;
  width: 400px;
  height: 350px;
  border-radius: 8px;
  background-image: url("ASSETS/imgs/analog-landscape-city-with-buildings.jpg"); /* ضع رابط الصورة هنا */
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 90%;
}

.confirmation-box {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2;
  width: 450px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
}

.confirmation-box p {
  font-size: 18px;
  margin-bottom: 20px;
}

.confirmation-box .btn {
  width: 80%;
  margin: 10px 30px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 8px;
}

.confirmation-box .btn-primary {
  background-color: var(--color-1);
  color: var(--color-4);
  border: none;
}

.confirmation-box .btn-secondary {
  background-color: #fff;
  color: var(--color-4);
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* ----------------------------signup---------------------- */
@media (max-width: 1500px) {
  .verify-email .background-image {
    height: 570px;
    top: 30px !important;
    left: 330px;
  }
  .logout-container .background-image {
    top: 120px !important;
  }
}
@media (max-width: 1350px) {
  .log-in {
    position: relative;
    width: 85%;
    margin-left: 180px;
  }
  .logout-container .background-image {
    left: 300px !important;
    width: 400px;
  }
  .verify-email .background-image {
    height: 570px;

    left: 250px !important;
  }
}
@media (max-width: 1200px) {
  .log-in {
    margin-left: 160px;
  }
  .log-in .background-image {
    left: 30px;
  }

  .verify-email .background-image {
    height: 555px !important;
    top: 35px !important;
    left: 200px !important;
  }
  .logout-container .background-image {
    width: 400px;
  }
}
@media (max-width: 1150px) {
  .log-in {
    margin-left: 140px;
  }
  .log-in .background-image {
    left: 30px;
  }
  .verify-email .background-image {
    left: 100px !important;
  }
  .logout-container .background-image {
    left: 250px !important;
    width: 400px;
  }
  .signup-box h2 {
    margin-top: 20px;
  }
  .signup-box-inptus {
    flex-direction: column-reverse;
    gap: 0px !important;
  }
  .signup-box-inptus .signup-media-box {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .signup-box-inptus .signup-inputs {
    margin: auto;
  }
  .signup-btn {
    width: 80% !important;
  }
}
@media (max-width: 992px) {
  .navbar-collapse .regesters {
    justify-content: center;
    width: 100%;
    margin: 0 auto !important;
    gap: 30px !important;
  }
  .navbar .logo {
    width: 80% !important;
    margin: auto;
  }
  .navbar .logo img {
    width: 220px;
  }
  .log-in {
    margin-left: 170px;
  }
  .log-in .background-image {
    left: -70px;
  }
  .logout-container .background-image {
    left: 150px !important;
    width: 400px;
  }
  .verify-box {
    margin-left: 280px !important;
  }
  .verify-email .background-image {
    /* top: 51px !important; */
    left: 60px !important;
  }
}
@media (max-width: 900px) {
  .log-in {
    margin-left: 120px;
  }
  .log-in .background-image {
    left: -40px;
    width: 200px;
  }
  .verify-box {
    margin-left: 200px !important;
  }
  .verify-email .background-image {
    height: 552px !important;
    top: 36px !important;
    left: 40px !important;
  }
  .logout-container .background-image {
    left: 80px !important;
    width: 400px;
  }
}
@media (max-width: 800px) {
  .log-in {
    margin-left: 160px;
  }
  .log-in .background-image {
    left: -90px;
    width: 200px;
  }
  .logout-container .background-image {
    left: 50px !important;
    width: 400px;
  }
  .verify-box {
    margin-left: 100px !important;
  }
  .verify-email .background-image {
    left: 40px !important;
    top: 36px !important;
  }
}
@media (max-width: 750px) {
  .log-in {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .log-in .background-image {
    width: 0 !important;
    left: 0;
  }
  .logout-container .confirmation-box {
    margin-left: 290px !important;
  }
  .logout-container .background-image {
    left: 0px !important;
    width: 400px;
  }
  .verify-email {
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }
  .verify-box {
    margin: 0 auto !important;
  }
  .verify-email .background-image {
    left: 0 !important;
    width: 0 !important;
  }
  @media (max-width: 685px) {
    .signup {
      width: 100%;
      align-items: center !important;
    }
    .signup-box {
      width: 100%;
      margin-left: 0;
    }
    .signup .background-image {
      width: 0;
    }
    .logout-container .confirmation-box {
      margin-left: 220px !important;
    }
  }
  @media (max-width: 550px) {
    .signup-inputs .form-control {
      width: 450px;
      margin-top: 2px;
    }
    .signup-inputs .signup-label {
      position: relative;
      top: 22px;
      left: 300px;
      width: fit-content;
    }
    .logout-container .confirmation-box {
      margin-left: 200px !important;
    }
    .signup-inputs .label-username {
      left: 270px !important;
    }
    .signup-inputs .label-email {
      left: 340px !important;
    }
    .signup-social {
      gap: 10px !important;
    }
    .log-in {
      margin: auto !important;
      margin-top: 0 !important;
    }
    .login-box {
      width: 100%;
      margin-top: 0 !important;
    }

    .log-in .login-social {
      flex-wrap: wrap;
      gap: 10px;
      margin: 0 auto !important;
      justify-content: center !important;
    }
    .login-social button {
      margin: 0 auto !important;
      width: 100%;
    }
    .verify-box {
      margin: 0 auto !important;
      width: 90% !important;
    }
    .recend-code-btn {
      margin: 0 auto !important;
      margin-bottom: 50px !important;
    }
  }
  @media (max-width: 475px) {
    .hero {
      width: 100%;
      height: 100vh;
    }
    .navbar-collapse .regesters {
      margin: 0 !important;
    }
    .login-btn {
      margin: 30px auto !important;
    }
    .signup-inputs .form-control {
      width: 300px !important;
    }
    .signup-inputs .signup-label {
      left: 170px !important;
    }
  }
  .signup-inputs .label-email {
    left: 205px !important;
  }
  .signup-inputs .label-username {
    left: 130px !important;
  }
  .signup-social {
    flex-wrap: wrap;
  }
  .logout-container .background-image {
    width: 0 !important;
  }
  .logout-container .confirmation-box {
    margin-left: 0 !important;
  }
  .logout-container {
    min-height: 100vh !important;
  }
}
